.navbar  {
  min-height: 64px;
  .active {
    color: black;
    background-color: #ddd;
  }
  span {
    text-align: center;  
    white-space:nowrap;
    color: black;
  }
}

.navbar-drawer {
  .active {
    background-color: rgba(0, 0, 0, 0.1);
  }

}