* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: scroll;
  background-color: #ddd;
}

.pagination {
  li {
    &:first-child button {
      margin-left: 0;
    }

    &:last-child button {
      margin-right: 0;
    }
  }
}

.tree-icon {
  font-size: 30px !important;
}


@media screen and (max-width: 1000px) {
  .specialDeviceData {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .css-683v33-MuiDivider-root {
    white-space: normal !important;
  }

  .edit-device-footer {
    flex-direction: column;
    align-items: self-start !important;
  }
}